*, *::after, *::before {
  box-sizing: border-box;
  outline: none !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 100%;
}

button, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1280px;
  padding: 0px 15px;
  margin: 0 auto;
}

.site-container {
  height: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

*,
body,
textarea,
button {
  font-family: "Inter", sans-serif;
}

* {
  transition: 0.3s linear;
}

.dark-img {
  display: none !important;
}

.dark-theme {
  background: #1E1F21;
}
@media (max-width: 768px) {
  .dark-theme .header-btns {
    background: #1E1F21 !important;
  }
}
.dark-theme .contact-inner {
  background-image: url("data:image/svg+xml,%3Csvg width='959' height='225' viewBox='0 0 959 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.08683 86.6697C-4.10553 77.4422 -1.68601 68.4541 13.491 66.5942L553.013 0.476542C568.19 -1.38338 590.377 4.58922 602.569 13.8167C614.762 23.0442 612.342 32.0324 597.165 33.8923L581.98 35.7532L379.903 87.5703L739.569 58.2206L742.85 57.5614C749.752 56.1744 758.005 55.6964 766.613 56.0137L915.466 43.8669C928.221 42.8261 945.413 49.7709 953.866 59.3785C962.319 68.9861 958.832 77.6184 946.078 78.6592L793.897 91.0776L507.526 148.62L858.581 119.973C871.336 118.932 888.528 125.877 896.981 135.485C905.434 145.092 901.947 153.725 889.193 154.765L195.04 211.41L135.967 223.28C116.079 227.276 84.9796 223.726 66.5041 215.351C56.9448 211.018 52.638 206.242 53.4621 202.087C47.2377 193.35 51.0987 185.866 62.9182 184.901L140.712 178.553L427.083 121.011L157.483 143.011C156.983 143.054 156.482 143.095 155.977 143.134L140.818 144.371C136.279 144.741 131.177 144.1 126.107 142.687C115.375 141.602 105.136 139.541 96.9524 136.581C75.9165 128.973 76.4294 118.3 98.098 112.744L102.568 111.598C104.538 110.537 107.097 109.832 110.207 109.578L110.555 109.55L230.252 78.857L57.6434 100.01C42.4664 101.87 20.2792 95.8972 8.08683 86.6697Z' fill='%232E2F2F'/%3E%3C/svg%3E%0A") !important;
}
.dark-theme .review-avatar {
  background: #fff !important;
}
.dark-theme .light-img {
  display: none !important;
}
.dark-theme .dark-img {
  display: block !important;
}
.dark-theme .inverse-text {
  color: #fff !important;
}
.dark-theme .inverse-gray-text {
  color: #696363;
}
.dark-theme .inverse-bg {
  background: #252626 !important;
}

.burger-menu {
  width: 20px;
  height: 12px;
  position: relative;
  padding: 0;
}
.burger-menu span {
  transition: 0.2s linear;
}
.burger-menu span:nth-child(1), .burger-menu span:nth-child(2), .burger-menu span:nth-child(3) {
  display: block;
  height: 2px;
  background: #CB88FF;
  width: 100%;
  position: absolute;
  border-radius: 2px;
}
.burger-menu span:nth-child(1) {
  transform: translateY(-6px);
}
.burger-menu span:nth-child(3) {
  transform: translateY(6px);
}

.burger-menu.opened span:nth-child(2) {
  width: 0;
}
.burger-menu.opened span:nth-child(1) {
  transform: translate(0) rotate(45deg);
}
.burger-menu.opened span:nth-child(3) {
  transform: translate(0) rotate(-45deg);
}

.pink-btn {
  padding: 11px 24px;
  color: #fff;
  background: #CB88FF;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  transition: 0.2s linear;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.pink-btn:hover {
  background: #c06fff;
  color: #fff;
}

.header {
  position: relative;
}
.header .logo {
  color: #3A3B3D;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #3A3B3D;
}
.header .logo span {
  color: #CB88FF;
}
@media (max-width: 768px) {
  .header .logo {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header .header-btns {
    position: absolute;
    background: #fff;
    left: 0;
    top: 58px;
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }
}
.header .header-btns a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.header .header-btns .log-link {
  color: #3A3B3D;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.header .header-btns .log-link:hover {
  opacity: 0.8;
}
.header .header-btns.show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0) !important;
}

.main-screen h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  color: #1E1F21;
}
@media (max-width: 991px) {
  .main-screen h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  .main-screen h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
.main-screen p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A5A5A5;
  max-width: 280px;
}
.main-screen__img img {
  margin-left: 57px;
}
@media (max-width: 991px) {
  .main-screen__img img {
    margin-left: 0;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
}

h2.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
  color: #1E1F21;
  max-width: 1100px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  h2.title {
    font-size: 42px;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  h2.title {
    font-size: 26px;
    line-height: 31px;
    max-width: 320px;
  }
}

img {
  transition: 0.2s linear;
}

.tiles .medium-img {
  max-width: 390px !important;
  right: -20px !important;
}
.tiles .small-img {
  max-width: 240px !important;
  right: 30px !important;
  bottom: 40px !important;
}
.tiles__item {
  min-height: 100%;
}
.tiles__item:hover img {
  transform: scale(1.02);
}
.tiles__item-inner {
  background: #F9F9F9;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.tiles__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A5A5A5;
}
@media (max-width: 768px) {
  .tiles__item p {
    text-align: left !important;
  }
}
.tiles__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #1E1F21;
}
@media (max-width: 768px) {
  .tiles__title {
    font-size: 22px;
    line-height: 27px;
    text-align: left !important;
  }
}
@media (max-width: 480px) {
  .tiles .pink-btn {
    width: 100%;
    text-align: center;
  }
}
.tiles .left-bottom {
  position: absolute;
  max-width: 500px;
  right: -100px;
  bottom: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .tiles__img {
    position: static !important;
  }
}

@media (max-width: 480px) {
  .w-sm-100 {
    width: 100% !important;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .spin-icons {
    position: relative;
    height: 100px;
  }
}
@media (max-width: 540px) {
  .spin-icons {
    height: 250px;
  }
}
.spin-icons .spin-icon {
  position: absolute;
  width: 80px;
  height: 80px;
}
.spin-icons .spin-icon img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.spin-icons .spin-icon::before {
  content: "";
  width: 125px;
  height: 125px;
  position: absolute;
  top: -22px;
  left: -22px;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  background-size: cover;
}
.spin-icons .tiktok {
  top: 40px;
  left: 65px;
}
.spin-icons .tiktok::before {
  background-image: url("../img/tiktok-border.png");
}
@media (max-width: 1200px) {
  .spin-icons .tiktok {
    top: 0;
    left: -15px;
  }
}
@media (max-width: 540px) {
  .spin-icons .tiktok {
    right: 15px;
    left: auto;
    top: 40px;
  }
}
.spin-icons .google {
  bottom: -30px;
  left: 195px;
}
@media (max-width: 1200px) {
  .spin-icons .google {
    bottom: -15px;
    left: 220px;
  }
}
@media (max-width: 540px) {
  .spin-icons .google {
    left: 75px;
    bottom: 25px;
  }
}
.spin-icons .google img {
  width: 95px;
  height: 95px;
}
.spin-icons .google::before {
  background-image: url("../img/google-border.png");
  top: -15px;
  left: -15px;
}
.spin-icons .facebook {
  bottom: 60px;
  right: 110px;
}
@media (max-width: 540px) {
  .spin-icons .facebook {
    left: -10px;
    top: 15px;
  }
}
@media (max-width: 1200px) {
  .spin-icons .facebook {
    right: 25px;
    top: 35px;
  }
}
.spin-icons .facebook img {
  width: 95px;
  height: 95px;
}
.spin-icons .facebook::before {
  background-image: url("../img/facebook-border.png");
  top: -15px;
  left: -15px;
}

@media (max-width: 540px) {
  .reviews__subtitle {
    width: 230px;
    margin: 0 auto;
    text-align: center;
  }
}
.reviews__subtitle .subtitle-text,
.reviews__subtitle .rating-count {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A5A5A5;
}
.reviews-slider {
  max-width: 385px;
  margin: 0 auto;
}
.reviews-slider-wrapper {
  display: flex;
}
.reviews-slider-slide {
  flex-shrink: 0;
  background: #F9F9F9;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media (max-width: 540px) {
  .reviews-slider-slide {
    height: auto;
    margin-top: 0 !important;
  }
}
.reviews-slider-slide:nth-child(2n+1) {
  margin-top: 15px;
}
.reviews-slider-slide .review-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A5A5A5;
  max-width: 340px;
}
.reviews-slider-slide .review-avatar {
  background: #1E1F21;
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}
.reviews-slider-slide .review-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews-slider-slide .review-name {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1E1F21;
}

.pink-title {
  color: #CB88FF !important;
}

.contact {
  margin-top: 150px;
}
@media (max-width: 540px) {
  .contact {
    margin-top: 50px;
  }
}
.contact-inner {
  background-image: url("data:image/svg+xml,%3Csvg width='959' height='225' viewBox='0 0 959 225' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.08683 86.6697C-4.10553 77.4422 -1.686 68.4541 13.491 66.5942L553.013 0.476542C568.19 -1.38338 590.377 4.58922 602.569 13.8167C614.762 23.0442 612.342 32.0324 597.165 33.8923L581.98 35.7532L379.903 87.5703L739.569 58.2206L742.85 57.5614C749.752 56.1744 758.005 55.6964 766.613 56.0137L915.466 43.8669C928.221 42.8261 945.413 49.7709 953.866 59.3785C962.319 68.9861 958.832 77.6184 946.078 78.6592L793.897 91.0776L507.526 148.62L858.581 119.973C871.336 118.932 888.528 125.877 896.981 135.485C905.434 145.092 901.947 153.725 889.193 154.765L195.04 211.41L135.967 223.28C116.079 227.276 84.9796 223.726 66.5041 215.351C56.9448 211.018 52.638 206.242 53.4621 202.087C47.2377 193.35 51.0987 185.866 62.9182 184.901L140.712 178.553L427.083 121.011L157.483 143.011C156.983 143.054 156.482 143.095 155.977 143.134L140.818 144.371C136.279 144.741 131.177 144.1 126.107 142.687C115.375 141.602 105.136 139.541 96.9524 136.581C75.9165 128.973 76.4294 118.3 98.098 112.744L102.568 111.598C104.538 110.537 107.097 109.832 110.207 109.578L110.555 109.55L230.252 78.857L57.6434 100.01C42.4664 101.87 20.2792 95.8972 8.08683 86.6697Z' fill='%23F0F0F0'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 540px) {
  .contact-inner {
    background-position: 0 15px;
  }
}
.contact-inner p {
  color: #696363;
}

.footer span {
  font-size: 14px;
}
.footer-links {
  padding-top: 15px;
}
.footer-links a {
  color: #1E1F21;
}
@media (max-width: 768px) {
  .footer-links a {
    font-size: 14px;
  }
}
.footer-links a:hover {
  opacity: 0.6;
}
.footer .bottom-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #A5A5A5;
}
@media (max-width: 768px) {
  .footer .bottom-footer {
    font-size: 14px;
  }
}